# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
.Python
.venv/
venv/
ENV/

# Django
*.log
db.sqlite3
staticfiles/
media/

# Pytest / coverage
.pytest_cache/
.coverage
coverage.xml
htmlcov/

# IDE/editor
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store

# Env
.env
.env.*


